[Unit]
Description=${APP_NAME}
After=network.target

[Service]
User=${USER}
WorkingDirectory=${PWD}
EnvironmentFile=${PWD}/.env
ExecStart=${PWD}/venv/bin/uvicorn -u server:app --host 127.0.0.1 --port ${PORT} --workers 1
Restart=always
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target